In [2]:
import pandas as pd 
import numpy as np

In [3]:
data_path = '../data/RuralAtlasData24.xlsx'

In [4]:
full_df = pd.read_excel(data_path, sheet_name=None)
full_df.keys()

dict_keys(['Read Me', 'VariableNameLookup', 'Documentation', 'People', 'Jobs', 'County Classifications', 'Income', 'Veterans'])

In [ ]:
df = full_df['County Classifications']
df.head()

,FIPStxt,State,County,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,...,FarmDependent2003,ManufacturingDependent2000,LowEducation2000,RetirementDestination2000,PersistentPoverty2000,Noncore2013,Type_2015_Nonspecialized_NO,Metro_Adjacent2013,PersistentChildPoverty2004,RecreationDependent2000
0,1001,AL,Autauga,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1003,AL,Baldwin,3.0,2.0,4.0,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1005,AL,Barbour,6.0,6.0,6.0,6.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
3,1007,AL,Bibb,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1009,AL,Blount,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [8]:
df.columns

Index(['FIPStxt', 'State', 'County', 'RuralUrbanContinuumCode2013',
       'UrbanInfluenceCode2013', 'RuralUrbanContinuumCode2003',
       'UrbanInfluenceCode2003', 'Metro2013', 'Nonmetro2013',
       'Micropolitan2013', 'Type_2015_Update', 'Type_2015_Farming_NO',
       'Type_2015_Manufacturing_NO', 'Type_2015_Mining_NO',
       'Type_2015_Government_NO', 'Type_2015_Recreation_NO',
       'Low_Education_2015_update', 'Low_Employment_2015_update',
       'Population_loss_2015_update', 'Retirement_Destination_2015_Update',
       'Perpov_1980_0711', 'PersistentChildPoverty_1980_2011', 'Hipov',
       'HiAmenity', 'HiCreativeClass2000', 'Gas_Change', 'Oil_Change',
       'Oil_Gas_Change', 'Metro2003', 'NonmetroNotAdj2003', 'NonmetroAdj2003',
       'Noncore2003', 'EconomicDependence2000', 'Nonmetro2003',
       'Micropolitan2003', 'FarmDependent2003', 'ManufacturingDependent2000',
       'LowEducation2000', 'RetirementDestination2000',
       'PersistentPoverty2000', 'Noncore2013', 'Type_2015_Nonspecialized_NO',
       'Metro_Adjacent2013', 'PersistentChildPoverty2004',
       'RecreationDependent2000'],
      dtype='object')

In [9]:
sub_col = ['RuralUrbanContinuumCode2013', 'UrbanInfluenceCode2013', 'RuralUrbanContinuumCode2003',
       'UrbanInfluenceCode2003', 'Metro2013', 'Nonmetro2013',
       'Micropolitan2013', 'Metro2003', 'Nonmetro2003', 'Micropolitan2003', 'Gas_Change', 'Oil_Change',
       'Oil_Gas_Change']
sub_df = df.loc[:, sub_col]
sub_df.head()

,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,Metro2003,Nonmetro2003,Micropolitan2003,Gas_Change,Oil_Change,Oil_Gas_Change
0,2.0,2.0,2.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,3.0,2.0,4.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,9.0,0.0,9.0
2,6.0,6.0,6.0,6.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
urban_influence_df = sub_df.loc[:, ['UrbanInfluenceCode2013', 'UrbanInfluenceCode2003']]